<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center>
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center>

<center> <h1> </h1> </center>

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="300" height="400"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>PANDAS</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se explicarán la librería **Pandas** escrita como extensión de **NumPy** para la manipulación y análisis de datos en el lenguaje de programación Python.
    
</div>

# Objetivos:

 1. Familiarizarce con creación de la estructura de tabla de datos **DataFrame.**
 2. Manejo inicial de un **DataFrame.**
 3. Importando archivos ***csv*** y manipulación inicial en **Pandas.**


[1. Limpieza de Datos](#1.-Limpieza-de-Datos)<br>
[2. Frecuencia Simple de Datos](#2.-Frecuencia-Simple-de-Datos)<br>
[3. Archivo csv "NBA" y Funciones de busqueda](#3.-Archivo-csv-"NBA"-y-Funciones-de-busqueda)<br>
[4. Análisis de Datos y Visualización](#4.-Análisis-de-Datos-y-Visualización)<br>

[EJERCICIOS](#EJERCICIOS)<br>
[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

![640px-Pandas_logo svg](https://user-images.githubusercontent.com/19308295/119273971-1b925300-bbd3-11eb-9705-fa3a404af0e1.png)

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJERCICIOS****<tfont>

### Ejercicio 1

<div class="alert alert-info">
Crear un <strong>DataFrame</strong> desde la URL :
    
    
    https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true   
    
Responder las siguientes preguntas :
</div>

In [79]:
import pandas as pd
url= 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'
data= pd.read_csv(url, index_col=0)
data.head(10)

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-13,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-14,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

<div class="well">
   
   1.-Que <strong>paises</strong> se encuentran en el DataFrame.
   
   2.-Cuantos registros hay por <strong>continente</strong>
    
   3.-Cuantos <strong>nuevos casos</strong> hubo como máximo en una fecha reportada por cada país?
    
   4.-Cuál es el país con el mayor <strong>GDP per cápita (PBI)</strong>?
   
   5.-Qué país tiene la mayor cantidad de <strong>fumadoras femeninas</strong>?
    
   6.-Qué país tiene la mayor cantidad de <strong>muertes por millón</strong>?
    
   7.-Qué país ha tomado las medidas <strong>más estrictas hasta ahora</strong>?
    
   8.-Cual fue el país en alcanzar los 10.000 <strong>casos activos por primera vez</strong>?
    
   
</div>

In [89]:
#1.-Que paises se encuentran en el DataFrame.
import pandas as pd

# URL del archivo CSV
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'

# Cargar los datos desde la URL
df = pd.read_csv(url)

# Obtener la lista de países únicos
paises = df['location'].unique()

# Mostrar el resultado
print("Países en el DataFrame:")
for pais in paises:
    print(pais)

Países en el DataFrame:
Afghanistan
Africa
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Asia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bonaire Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Curacao
Cyprus
Czechia
Democratic Republic of Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
England
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Europe
European Union
Faeroe Islands
Falkland Islands
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea-Bissau
Guyana
Haiti
High income
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kiribati
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Low income
Lower middle income
Luxembourg
Macao
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia (country)
Moldova
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North America
North Korea
North Macedonia
Northern Cyprus
Northern Ireland
Northern Mariana Islands
Norway
Oceania
Oman
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Pitcairn
Poland
Portugal
Puerto Rico
Qatar
Reunion
Romania
Russia
Rwanda
Saint Barthelemy
Saint Helena
Saint Kitts and Nevis
Saint Lucia
Saint Martin (French part)
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Scotland
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South America
South Korea
South Sudan
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Timor
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
United States Virgin Islands
Upper middle income
Uruguay
Uzbekistan
Vanuatu
Vatican
Venezuela
Vietnam
Wales
Wallis and Futuna
Western Sahara
World
Yemen
Zambia
Zimbabwe

In [90]:
#2.-Cuantos registros hay por continente
import pandas as pd

# URL del archivo CSV
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'

# Cargar los datos desde la URL
df = pd.read_csv(url)

# Contar registros por continente
registros_por_continente = df['continent'].value_counts().reset_index()
registros_por_continente.columns = ['continent', 'count']

# Mostrar el resultado
print(registros_por_continente)

       continent  count
0         Africa  92626
1         Europe  88138
2           Asia  80794
3  North America  66630
4        Oceania  39000
5  South America  22754

In [91]:
#3.-Cuantos nuevos casos hubo como máximo en una fecha reportada por cada país?
import pandas as pd

# URL del archivo CSV
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'

# Cargar los datos desde la URL
df = pd.read_csv(url)

# Convertir la columna de fecha a tipo de fecha
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

# Encontrar el máximo de nuevos casos reportados por país en una fecha
max_nuevos_casos = df.groupby('location')['new_cases'].max().reset_index()

# Mostrar el resultado
print(max_nuevos_casos)

           location   new_cases
0       Afghanistan     12314.0
1            Africa    316014.0
2           Albania     15405.0
3           Algeria     14774.0
4    American Samoa      1881.0
..              ...         ...
250  Western Sahara         NaN
251           World  44236227.0
252           Yemen       728.0
253          Zambia     26367.0
254        Zimbabwe     26671.0

[255 rows x 2 columns]

In [ ]:
#4.-Cuál es el país con el mayor GDP per cápita (PBI)?
# Seleccionar solo las columnas numéricas y agregar 'location'
mayorGDP = data.select_dtypes(include=['float', 'int'])
mayorGDP['location'] = data['location']

# Agrupar por 'location' y calcular la media para cada grupo
mean_data = mayorGDP.groupby('location').mean()

# Asegurarse de que 'gdp_per_capita' está en el DataFrame medio y es de tipo numérico
if 'gdp_per_capita' in mean_data.columns:
    # Ordenar 'gdp_per_capita' en orden descendente
    elmayorGDP = mean_data['gdp_per_capita'].sort_values(ascending=False)
    # Imprimir los valores ordenados
    print(elmayorGDP)

location
Qatar                  116935.600
Macao                  104861.851
Luxembourg              94277.965
Singapore               85535.383
Brunei                  71809.251
                          ...
Upper middle income           NaN
Vatican                       NaN
Wales                         NaN
Wallis and Futuna             NaN
Western Sahara                NaN
Name: gdp_per_capita, Length: 255, dtype: float64

In [ ]:
#5.-Qué país tiene la mayor cantidad de fumadoras femeninas?

# Seleccionar solo las columnas numéricas y agregar 'location'
mujeresfumadoras = data.female_smokers
mujeresfumadoras['location'] = data['location']

# Agrupar por 'location' y calcular la media para cada grupo
mean_data = mayorGDP.groupby('location').mean()

# Asegurarse de que 'female_smokers' está en el DataFrame medio y es de tipo numérico
if 'female_smokers' in mean_data.columns:
    # Ordenar 'total_deaths' en orden descendente
    Paisconmasfumadoras = mean_data['female_smokers'].sort_values(ascending=False)
    # Imprimir los valores ordenados
    print( Paisconmasfumadoras)

<ipython-input-38-cd6a28fbc898>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mujeresfumadoras['location'] = data['location']

location
Montenegro           44.0
Nauru                43.0
Serbia               37.7
Kiribati             35.9
Greece               35.3
                     ...
Vatican               NaN
Venezuela             NaN
Wales                 NaN
Wallis and Futuna     NaN
Western Sahara        NaN
Name: female_smokers, Length: 255, dtype: float64

In [ ]:
#6.-Qué país tiene la mayor cantidad de muertes por millón?

# Seleccionar solo las columnas numéricas y agregar 'location'
mayormuertes = data.total_cases_per_million
mayormuertes['location'] = data['location']

# Agrupar por 'location' y calcular la media para cada grupo
mean_data = mayorGDP.groupby('location').mean()

# Asegurarse de que 'total_cases_per_million' está en el DataFrame medio y es de tipo numérico
if 'total_cases_per_million' in mean_data.columns:
    # Ordenar 'total_deaths' en orden descendente
    Mayorcantidaddemuertes = mean_data['total_cases_per_million'].sort_values(ascending=False)
    # Imprimir los valores ordenados
    print( Mayorcantidaddemuertes)

<ipython-input-32-195e7c5ead00>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mayormuertes['location'] = data['location']

location
San Marino        410044.663627
Cyprus            404432.653752
Gibraltar         379964.046429
Cook Islands      375503.214758
Andorra           374327.816107
                      ...
Scotland                    NaN
Taiwan                      NaN
Turkmenistan                NaN
Wales                       NaN
Western Sahara              NaN
Name: total_cases_per_million, Length: 255, dtype: float64

In [100]:
#7.-Qué país ha tomado las medidas más estrictas hasta ahora?
import pandas as pd

# URL del archivo CSV
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'

# Cargar los datos desde la URL
df = pd.read_csv(url)

# Filtrar datos relevantes (ejemplo)
df_filtered = df[['location', 'stringency_index', 'total_cases_per_million', 'total_deaths_per_million']]

# Agrupar por país y obtener estadísticas relevantes
stats_by_country = df_filtered.groupby('location').mean()

# Ordenar por stringency_index para ver los países con mayores índices de restricción
stats_by_country_sorted = stats_by_country.sort_values(by='stringency_index', ascending=False)

# Mostrar los primeros países más restrictivos
print("Países con las medidas más estrictas:")
print(stats_by_country_sorted.head(10))

print("\nEl pais que ha tomado las medidas más estrictas es CHINA\n")

Países con las medidas más estrictas:
             stringency_index  total_cases_per_million  \
location
China               73.581758             23702.691218
Myanmar             63.967921              8029.400068
Honduras            63.077912             32091.172549
Azerbaijan          60.211300             53998.686710
Iran                59.554084             58209.569135
Hong Kong           59.166698                      NaN
Philippines         58.696081             22699.166361
Iraq                58.594322             39329.997347
Zimbabwe            58.478233             10411.871892
India               58.077152             22036.022671

             total_deaths_per_million
location
China                       31.766250
Myanmar                    251.995901
Honduras                   799.826850
Azerbaijan                 686.459798
Iran                      1204.837116
Hong Kong                         NaN
Philippines                369.376802
Iraq                       443.729389
Zimbabwe                   239.243268
India                      277.037439

El pais que ha tomado las medidas más estrictas es CHINA

In [98]:
#8.-Cual fue el país en alcanzar los 10.000 casos activos por primera vez?
import pandas as pd

# URL del archivo CSV
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'

# Cargar los datos desde la URL
df = pd.read_csv(url)

# Convertir la columna de fecha a tipo datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

# Filtrar los datos para tener las columnas relevantes
df_filtered = df[['location', 'date', 'total_cases', 'total_cases_per_million', 'total_deaths', 'total_deaths_per_million', 'total_tests']]

# Agrupar por país y encontrar la primera fecha en la que se superaron los 10,000 casos activos
primeros_10000_casos_activos = df_filtered[df_filtered['total_cases'] >= 10000].groupby('location')['date'].min().reset_index()

# Ordenar por fecha para encontrar el primer país en alcanzar los 10,000 casos activos
primer_pais_10000_casos_activos = primeros_10000_casos_activos.sort_values(by='date').iloc[0]

# Mostrar el resultado
print(f"El primer país en alcanzar los 10,000 casos activos fue {primer_pais_10000_casos_activos['location']} el {primer_pais_10000_casos_activos['date'].strftime('%Y-%m-%d')}.")

El primer país en alcanzar los 10,000 casos activos fue Upper middle income el 2020-02-02.

<div class="alert alert-info">Creamos un nuevo <strong>DataFrame</strong> solo con los siguientes paises: <code>Peru, Guinea</code>.
    
   Respondemos las siguientes preguntas :

</div>

<div class="well">
   
   9.-<strong>Cuantas filas</strong> hay por país ?.
   
   10.-Cuál es la <strong>fecha máxima</strong> por país ?.
    
   11.-Cuál es la <strong>fecha mínima</strong> por país ?.
    
   12.-Cuantos registros hay por <strong>"continente"</strong>?
   
   13.-Cuantos <strong>nuevos casos hubo como máximo</strong> en una fecha reportada por cada país??
    
   
</div>

In [97]:
#En este paso creamos un nuevo DATAFRAME solo con los paises de Perú y Guinea

import pandas as pd

# URL del archivo CSV
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'

# Cargar los datos desde la URL
df = pd.read_csv(url)

# Filtrar los datos para los países de interés: Perú y Guinea
paises_interes = ['Peru', 'Guinea']
df_interes = df[df['location'].isin(paises_interes)]

# Mostrar el cuadro con la información de los países de interés
print(df_interes)

       iso_code      continent location        date  total_cases  new_cases  \
149291      GIN         Africa   Guinea  2020-01-05          NaN        0.0
149292      GIN         Africa   Guinea  2020-01-06          NaN        0.0
149293      GIN         Africa   Guinea  2020-01-07          NaN        0.0
149294      GIN         Africa   Guinea  2020-01-08          NaN        0.0
149295      GIN         Africa   Guinea  2020-01-09          NaN        0.0
...         ...            ...      ...         ...          ...        ...
287000      PER  South America     Peru  2024-06-12    4524748.0        0.0
287001      PER  South America     Peru  2024-06-13    4524748.0        0.0
287002      PER  South America     Peru  2024-06-14    4524748.0        0.0
287003      PER  South America     Peru  2024-06-15    4524748.0        0.0
287004      PER  South America     Peru  2024-06-16    4524748.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
149291                 NaN           NaN         0.0                  NaN
149292                 NaN           NaN         0.0                  NaN
149293                 NaN           NaN         0.0                  NaN
149294                 NaN           NaN         0.0                  NaN
149295                 NaN           NaN         0.0                  NaN
...                    ...           ...         ...                  ...
287000                 0.0      220831.0         0.0                  0.0
287001                 0.0      220831.0         0.0                  0.0
287002                 0.0      220831.0         0.0                  0.0
287003                 0.0      220831.0         0.0                  0.0
287004                 0.0      220831.0         0.0                  0.0

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
149291  ...           NaN                   17.45                         0.3
149292  ...           NaN                   17.45                         0.3
149293  ...           NaN                   17.45                         0.3
149294  ...           NaN                   17.45                         0.3
149295  ...           NaN                   17.45                         0.3
...     ...           ...                     ...                         ...
287000  ...           NaN                     NaN                         1.6
287001  ...           NaN                     NaN                         1.6
287002  ...           NaN                     NaN                         1.6
287003  ...           NaN                     NaN                         1.6
287004  ...           NaN                     NaN                         1.6

        life_expectancy  human_development_index  population  \
149291            61.60                    0.477  13859349.0
149292            61.60                    0.477  13859349.0
149293            61.60                    0.477  13859349.0
149294            61.60                    0.477  13859349.0
149295            61.60                    0.477  13859349.0
...                 ...                      ...         ...
287000            76.74                    0.777  34049588.0
287001            76.74                    0.777  34049588.0
287002            76.74                    0.777  34049588.0
287003            76.74                    0.777  34049588.0
287004            76.74                    0.777  34049588.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
149291                                   NaN                          NaN
149292                                   NaN                          NaN
149293                                   NaN                          NaN
149294                                   NaN                          NaN
149295                                   NaN                          NaN
...                                      ...                          ...
287000                                   NaN                          NaN
287001                                   NaN                          NaN
287002                                   NaN                          NaN
287003                                   NaN                          NaN
287004                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
149291               NaN                                      NaN
149292               NaN                                      NaN
149293               NaN                                      NaN
149294               NaN                                      NaN
149295               NaN                                      NaN
...                  ...                                      ...
287000               NaN                                      NaN
287001               NaN                                      NaN
287002               NaN                                      NaN
287003               NaN                                      NaN
287004               NaN                                      NaN

[3250 rows x 67 columns]

In [101]:
#9.-Cuantas filas hay por país ?
# Contar filas por país
filas_por_pais = df_interes['location'].value_counts().reset_index()
filas_por_pais.columns = ['location', 'count']

# Mostrar el resultado
print(filas_por_pais)

  location  count
0   Guinea   1625
1     Peru   1625

In [106]:
#10.-Cuál es la fecha máxima por país ?.
# Asegurarse de que la columna de fecha está en formato de fecha
df_interes['date'] = pd.to_datetime(df_interes['date'], format='%Y-%m-%d')

# Agrupar por 'location' y encontrar la fecha máxima
fechas_maximas = df_interes.groupby('location')['date'].max().reset_index()

# Mostrar el resultado
print(fechas_maximas)

  location       date
0   Guinea 2024-06-16
1     Peru 2024-06-16

In [103]:
#11.-Cuál es la fecha mínima por país ?.
# Convertir la columna de fecha a tipo de fecha
df_interes['date'] = pd.to_datetime(df_interes['date'], format='%Y-%m-%d')

# Encontrar la fecha mínima por país
fecha_minima_por_pais = df_interes.groupby('location')['date'].min().reset_index()

# Mostrar el resultado
print(fecha_minima_por_pais)

  location       date
0   Guinea 2020-01-05
1     Peru 2020-01-05

In [104]:
#12.-Cuantos registros hay por "continente"?
# Contar registros por continente
registros_por_continente = df_interes['continent'].value_counts().reset_index()
registros_por_continente.columns = ['continent', 'count']

# Mostrar el resultado
print(registros_por_continente)

       continent  count
0         Africa   1625
1  South America   1625

In [105]:
#13.-Cuantos nuevos casos hubo como máximo en una fecha reportada por cada país??
# Convertir la columna de fecha a tipo de fecha
df_interes['date'] = pd.to_datetime(df_interes['date'], format='%Y-%m-%d')

# Encontrar el máximo de nuevos casos reportados por país en una fecha
max_nuevos_casos = df_interes.groupby('location')['new_cases'].max().reset_index()

# Mostrar el resultado
print(max_nuevos_casos)

  location  new_cases
0   Guinea     1806.0
1     Peru   326730.0

### Ejercicio 2

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> de mayor <strong>edad</strong> usar columna <strong>Age</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios</code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>(Carpeta <code>data_ejercicios</code>).


</div>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
nba = pd.read_csv('/content/drive/MyDrive/data/nba.csv', index_col='Name')
display(nba.head())
nba.shape

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

(458, 8)

In [ ]:
#Que mayor edad sea mayor a 30
nba_adulto = nba[nba['Age'] > 30]
nba_adulto

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0
Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0
Sasha Vujacic,New York Knicks,18.0,SG,32.0,6-7,195.0,NaN,947276.0
...,...,...,...,...,...,...,...,...
Tayshaun Prince,Minnesota Timberwolves,12.0,SF,36.0,6-9,212.0,Kentucky,947276.0
Nick Collison,Oklahoma City Thunder,4.0,PF,35.0,6-10,255.0,Kansas,3750000.0
Randy Foye,Oklahoma City Thunder,6.0,SG,32.0,6-4,213.0,Villanova,3135000.0
Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,6-10,250.0,Kentucky,222888.0
Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0

In [ ]:
#Aqui guardamos el nba_adulto en otro data Frame
nba_adulto.to_csv('/content/drive/MyDrive/data/nba_adulto.csv')

### Ejercicio 3

<div class="well">Visualizar el <strong>nombre del/(los) jugador(es) de la NBA</strong> que han llevado estudios <strong>College</strong> en la ciudad de <strong>Kentucky</strong>, dato que se puede ubicar en la columna <strong>College</strong>, desde el archivo <code>nba.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) jugador(es)</strong> y adicionalmente guardar la información en el archivo <code>nba_adulto.csv</code>.


</div>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
nba = pd.read_csv('/content/drive/MyDrive/data/nba.csv', index_col='Name')
display(nba.head())
nba.shape

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

(458, 8)

In [ ]:
#Que mayor edad sea mayor a 30
nba_estudio = nba[nba['College'] == 'Kentucky']
nba_estudio

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
Nerlens Noel,Philadelphia 76ers,4.0,PF,22.0,6-11,228.0,Kentucky,3457800.0
Patrick Patterson,Toronto Raptors,54.0,PF,27.0,6-9,235.0,Kentucky,6268675.0
Julius Randle,Los Angeles Lakers,30.0,PF,21.0,6-9,250.0,Kentucky,3132240.0
Eric Bledsoe,Phoenix Suns,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
Archie Goodwin,Phoenix Suns,20.0,SG,21.0,6-5,200.0,Kentucky,1160160.0
Brandon Knight,Phoenix Suns,3.0,PG,24.0,6-3,189.0,Kentucky,13500000.0
Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0
DeMarcus Cousins,Sacramento Kings,15.0,C,25.0,6-11,270.0,Kentucky,15851950.0
Rajon Rondo,Sacramento Kings,9.0,PG,30.0,6-1,186.0,Kentucky,9500000.0
Jodie Meeks,Detroit Pistons,20.0,SG,28.0,6-4,210.0,Kentucky,6270000.0
Terrence Jones,Houston Rockets,6.0,PF,24.0,6-9,252.0,Kentucky,2489530.0
Anthony Davis,New Orleans Pelicans,23.0,PF,23.0,6-10,253.0,Kentucky,7070730.0
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
Michael Kidd-Gilchrist,Charlotte Hornets,14.0,SF,22.0,6-7,232.0,Kentucky,6331404.0
John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0
Tayshaun Prince,Minnesota Timberwolves,12.0,SF,36.0,6-9,212.0,Kentucky,947276.0
Karl-Anthony Towns,Minnesota Timberwolves,32.0,C,20.0,7-0,244.0,Kentucky,5703600.0
Enes Kanter,Oklahoma City Thunder,11.0,C,24.0,6-11,245.0,Kentucky,16407500.0
Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,6-10,250.0,Kentucky,222888.0
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0

In [ ]:
#Aqui guardamos el nba_estudio en otro data Frame
nba_estudio.to_csv('/content/drive/MyDrive/data/nba_estudio.csv')

### Ejercicio 4

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que deben viajar mas de <strong>01 hora</strong> dato que se puede ubicar en la columna <strong>traveltime</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-travel.csv</code>.


</div>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
mat = pd.read_csv('/content/drive/MyDrive/data/student-mat.csv', index_col='school')
display(mat.head())
mat.shape

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,,,,,,
GP,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
GP,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
GP,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
GP,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
GP,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

(395, 32)

In [ ]:
#Viajar por más de 1 hora
mat_hora = mat[mat['traveltime'] > 1]
mat_hora

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,,,,,,
GP,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
GP,F,17,U,GT3,A,4,4,other,teacher,home,...,4,1,4,1,1,1,6,6,5,6
GP,F,15,U,GT3,T,2,1,services,other,reputation,...,5,2,2,1,1,4,4,10,12,12
GP,M,15,U,GT3,T,4,3,teacher,other,course,...,5,4,3,1,2,3,2,10,10,11
GP,F,16,U,GT3,T,3,3,other,other,reputation,...,5,3,2,1,1,4,4,8,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MS,F,18,R,GT3,T,2,2,at_home,other,other,...,5,3,3,1,3,4,2,10,9,10
MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,...,4,4,3,2,2,5,7,6,5,6
MS,F,18,U,GT3,T,1,1,other,other,course,...,1,1,1,1,1,5,0,6,5,0
MS,M,17,U,LE3,T,3,1,services,services,course,...,2,4,5,3,4,2,3,14,16,16
MS,M,18,R,LE3,T,3,2,services,other,course,...,4,4,1,3,4,5,0,11,12,10

In [ ]:
#Aqui guardamos el las personas que se demoran mas de 1hora en viajar en otro data Frame
mat_hora.to_csv('/content/drive/MyDrive/data/student-travel.csv')

### Ejercicio 5

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que no poseen <strong>internet</strong> dato que se puede ubicar en la columna <strong>internet</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-internet.csv</code>.


</div>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
mat = pd.read_csv('/content/drive/MyDrive/data/student-mat.csv', index_col='school')
display(mat.head())
mat.shape

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,,,,,,
GP,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
GP,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
GP,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
GP,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
GP,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

(395, 32)

In [ ]:
#Alumnos que no poseen internet
mat_no_internet = mat[mat['internet'] == 'no']
mat_no_internet

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,,,,,,
GP,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
GP,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10
GP,F,17,U,GT3,A,4,4,other,teacher,home,...,4,1,4,1,1,1,6,6,5,6
GP,F,16,U,GT3,T,3,3,other,other,reputation,...,5,3,2,1,1,4,4,8,10,10
GP,F,15,U,GT3,T,2,3,other,other,other,...,3,5,1,1,1,5,0,8,7,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MS,M,18,R,GT3,T,4,2,other,other,home,...,5,4,3,4,3,3,14,6,5,5
MS,F,18,R,GT3,T,2,2,at_home,other,other,...,5,3,3,1,3,4,2,10,9,10
MS,F,18,U,GT3,T,1,1,other,other,course,...,1,1,1,1,1,5,0,6,5,0
MS,M,20,U,LE3,A,2,2,services,services,course,...,5,5,4,4,5,4,11,9,9,9
MS,M,21,R,GT3,T,1,1,other,other,course,...,5,5,3,3,3,3,3,10,8,7

In [ ]:
#Aqui guardamos los alumnos que no tienen internet en otro data Frame
mat_no_internet.to_csv('/content/drive/MyDrive/data/student-internet.csv')

### Ejercicio 6

<div class="well">Visualizar el <strong>nombre del/(los) estudiante(s) </strong> que son mayores de <strong>18 años</strong> dato que se puede ubicar en la columna <strong>age</strong>, desde el archivo <code>student-mat.csv</code> (Carpeta <code>data_ejercicios </code> ) debera visualizar por pantalla <strong>todos los datos de dicho(s) alumno(s)</strong> y adicionalmente guardar la información en el archivo <code>student-age.csv</code>.


</div>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
mat = pd.read_csv('/content/drive/MyDrive/data/student-mat.csv', index_col='school')
display(mat.head())
mat.shape

In [ ]:
#Alumnos mayores de 18 años de edad
mat_edad = mat[mat['age'] > 18]
mat_edad

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,,,,,,
GP,F,19,U,GT3,T,0,1,at_home,other,course,...,3,4,2,1,1,5,2,7,8,9
GP,M,19,U,GT3,T,3,2,services,at_home,home,...,4,5,4,1,1,4,0,5,0,0
GP,F,19,U,GT3,T,3,3,other,other,reputation,...,4,3,3,1,2,3,10,8,8,8
GP,M,22,U,GT3,T,3,1,services,services,other,...,5,4,5,5,5,1,16,6,8,8
GP,M,19,U,LE3,A,4,3,services,at_home,reputation,...,4,3,1,1,1,1,12,11,11,11
GP,F,19,U,GT3,T,3,3,other,services,home,...,4,3,5,3,3,5,15,9,9,9
GP,F,19,U,GT3,T,4,4,health,other,reputation,...,2,3,4,2,3,2,0,10,9,0
GP,M,19,U,GT3,T,3,3,other,other,home,...,4,4,4,1,1,3,20,15,14,13
GP,M,20,U,GT3,A,3,2,services,other,course,...,5,5,3,1,1,5,0,17,18,18
GP,M,19,U,GT3,T,4,4,teacher,services,reputation,...,4,3,4,1,1,4,38,8,9,8
GP,M,19,R,GT3,T,3,3,other,services,reputation,...,4,5,3,1,2,5,0,15,12,12
GP,F,19,U,LE3,T,1,1,at_home,other,reputation,...,4,4,3,1,3,3,18,12,10,10
GP,F,19,U,LE3,T,1,2,services,services,home,...,4,2,4,2,2,3,0,9,9,0
GP,F,19,U,GT3,T,2,1,at_home,other,other,...,3,4,1,1,1,2,20,14,12,13
GP,M,19,U,GT3,T,1,2,other,services,course,...,4,5,2,2,2,4,3,13,11,11
GP,F,19,U,LE3,T,3,2,services,other,reputation,...,4,2,2,1,2,1,22,13,10,11
GP,F,19,U,GT3,T,1,1,at_home,health,home,...,4,1,2,1,1,3,14,15,13,13
GP,F,19,R,GT3,T,2,3,other,other,reputation,...,4,1,2,1,1,3,40,13,11,11
GP,F,19,R,GT3,A,3,1,services,at_home,home,...,5,4,3,1,2,5,12,14,13,13
GP,F,19,U,GT3,T,2,1,services,services,home,...,4,3,4,1,3,3,4,11,12,11
MS,M,19,R,GT3,T,1,1,other,services,home,...,5,4,4,3,3,2,8,8,7,8
MS,M,19,R,GT3,T,1,1,other,other,home,...,4,4,4,3,3,5,4,8,8,8
MS,F,19,U,LE3,T,3,2,services,services,home,...,3,2,2,1,1,3,4,7,7,9
MS,F,20,U,GT3,T,4,2,health,other,course,...,5,4,3,1,1,3,4,15,14,15
MS,M,19,R,GT3,T,1,1,other,services,other,...,4,3,2,1,3,5,0,6,5,0
MS,F,19,R,GT3,T,2,3,services,other,course,...,5,4,2,1,2,5,0,7,5,0
MS,M,20,U,LE3,A,2,2,services,services,course,...,5,5,4,4,5,4,11,9,9,9
MS,M,21,R,GT3,T,1,1,other,other,course,...,5,5,3,3,3,3,3,10,8,7
MS,M,19,U,LE3,T,1,1,other,at_home,course,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
#Aqui guardamos los alumnos que tinenen mas de 18 años en otro data Frame
mat_edad.to_csv('/content/drive/MyDrive/data/student-age.csv')

<div class="alert alert-warning">Database <code>student-mat.csv</code> fue sacado de <strong>Kaggle</strong>
    autores:
    

    
P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp. 5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7.

    
    
</div>

<div class="alert alert-warning">
    
    
web: https://www.kaggle.com/janiobachmann/math-students/data

    
</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Guía de pandas oficial https://pandas.pydata.org/docs/user_guide/index.html

[2] Python Pandas Tutorial: A Complete Introduction for Beginners https://bit.ly/2AQMQld

[3] Guía para pandas https://pybonacci.org/2014/05/30/pandas-i/

[4] Dataset variados https://www.kaggle.com/datasets

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)