<center> <h2>Alumno: Leonardo Carlo Calatayu Huamani</h2> </center>

<center> <h1>Curso : Computación 2; Tema: Pandas II</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

## <font color=#33A5FF>****1. Limpieza de Datos****<tfont>

In [ ]:
#Librerías
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Otro procedimiento que podemos hacer con **Pandas** es ***limpiar nuestros datos***, estos es muy importante en **Machine Learning** si queremos obtener resultados confiables.

In [ ]:
#cargamos un archivo CSV separado por comas
notas2= pd.read_csv('/content/drive/MyDrive/data/notas2.csv', delimiter=';')

#leer 5 primeras lineas
notas2.head(10)

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0   19.0     18        18
1    Jose    NaN   15.0     11        13
2    Juan   13.0   12.0     17        14
3    Luis   10.0   19.0     18        16
4  Carlos   16.0   12.0     10        13
5    Rosa    NaN   14.0     10        12
6   Jorge    9.0   11.0     19        13
7  Victor    NaN   13.0     10        12
8     Ana   18.0   19.0     11        16
9     Luz   14.0   20.0     16        17

<div class="alert alert-info">Con <strong>Pandas</strong> podemos verificar si faltan valores en el conjunto de datos solamente tenemos que implementar <code>pd.isnull()</code>. Implementando esta instrucción nos devuelve una matriz booleana, una matriz de <strong>verdadero</strong> para valores faltantes y <strong>falso</strong> para valores no perdidos.</div>

In [ ]:
#Verificar si hay datos nulos en el DataFrame
print('Datos nulos en el DataFrame: ')


#Imprimir nulos TRUE
notas2.isnull()

Datos nulos en el DataFrame:

    Alumno  Nota1  Nota2  Nota3  Promedio
0    False  False  False  False     False
1    False   True  False  False     False
2    False  False  False  False     False
3    False  False  False  False     False
4    False  False  False  False     False
5    False   True  False  False     False
6    False  False  False  False     False
7    False   True  False  False     False
8    False  False  False  False     False
9    False  False  False  False     False
10   False   True  False  False     False
11   False  False  False  False     False
12   False   True  False  False     False
13   False  False  False  False     False
14   False  False  False  False     False
15   False   True  False  False     False
16   False  False  False  False     False
17   False  False  False  False     False
18   False  False  False  False     False
19   False   True  False  False     False
20   False  False  False  False     False
21   False  False  False  False     False
22   False  False  False  False     False
23   False  False  False  False     False
24   False  False  False  False     False
25   False  False  False  False     False
26   False  False  False  False     False
27   False  False  False  False     False
28   False  False   True  False     False
29   False  False  False  False     False
30   False  False  False  False     False
31   False  False  False  False     False
32   False   True  False  False     False
33   False   True  False  False     False
34   False  False   True  False     False
35   False   True  False  False     False
36   False  False  False  False     False
37   False  False  False  False     False
38   False  False  False  False     False
39   False  False  False  False     False
40   False  False  False  False     False
41   False  False  False  False     False
42   False  False  False  False     False
43   False  False   True  False     False
44   False   True  False  False     False
45   False  False  False  False     False
46   False  False  False  False     False
47   False  False  False  False     False
48   False  False  False  False     False
49   False  False  False  False     False

<div class="alert alert-info">Para obtener una <strong>suma de valores nulos o faltantes</strong> solamente se debe ejecutar la siguiente instrucción:</div>

In [ ]:
#Suma de datos nulos en el DataFrame
print('Suma datos nulos en el DataFrame:')

#imprimir
notas2.isnull().sum()

Suma datos nulos en el DataFrame:

Alumno       0
Nota1       11
Nota2        3
Nota3        0
Promedio     0
dtype: int64

<div class="alert alert-info"> Ahora vamos a <strong>rellenar los valores perdidos</strong> con otros valores usando <code>df.fillna(x)</code> que reemplaza los valores perdidos con <code>x</code>, puede ser cualquier valor, inclusive se puede reemplar todos los valores nulos con la media de los datos.</div>

In [ ]:
#Reemplaza los valores perdidos por un valor
print('Reemplazar los valores perdidos por la media:')

#Imprimir
notas2.fillna(5)

Reemplazar los valores perdidos por la media:

       Alumno  Nota1  Nota2  Nota3  Promedio
0       Maria   18.0   19.0     18        18
1        Jose    5.0   15.0     11        13
2        Juan   13.0   12.0     17        14
3        Luis   10.0   19.0     18        16
4      Carlos   16.0   12.0     10        13
5        Rosa    5.0   14.0     10        12
6       Jorge    9.0   11.0     19        13
7      Victor    5.0   13.0     10        12
8         Ana   18.0   19.0     11        16
9         Luz   14.0   20.0     16        17
10      Cesar    5.0   13.0     20        17
11     Carmen   14.0   10.0     14        13
12     Miguel    5.0   10.0     16        13
13      Julio   11.0   10.0     14        12
14      Jesus   12.0   13.0     10        12
15      Pedro    5.0   11.0     15        13
16     Manuel   15.0   20.0     20        18
17      Juana    8.0   13.0     10        10
18     Santos    7.0   17.0     14        13
19    Segundo    5.0    8.0     20        14
20       Jhon   10.0    8.0     10         9
21      David    7.0    8.0     10         8
22      Angel   18.0    9.0     11        13
23      Julia    7.0   11.0     18        12
24      Diego   20.0   18.0     18        19
25       Flor   12.0   10.0     13        12
26  Elizabeth   16.0   19.0     18        18
27     Daniel   18.0   13.0     16        16
28      Oscar   10.0    5.0     12        11
29       Ruth    9.0   11.0     12        11
30      Diana   16.0   13.0     14        14
31      Marco    9.0   14.0     16        13
32      Edwin    5.0   19.0     11        15
33     Javier    5.0   16.0     10        13
34     Walter   11.0    5.0     14        13
35  Francisco    5.0   10.0     20        15
36   Fernando   10.0   20.0     13        14
37   Milagros   18.0   14.0     11        14
38  Alejandro    9.0   17.0     14        13
39       Raul   20.0   18.0     16        18
40    Ricardo    9.0   17.0     17        14
41       Alex   10.0   10.0     20        13
42    Roberto   19.0   14.0     12        15
43      Edgar   15.0    5.0     19        17
44   Victoria    5.0   11.0     17        14
45    Eduardo   12.0   19.0     12        14
46      Mario   19.0   14.0     19        17
47      Jaime   18.0   19.0     15        17
48     Gloria   19.0   16.0     16        17
49     Andrea   14.0   17.0     19        17

<div class="alert alert-info"> Ahora para conservar los cambios <strong>generamos un nuevo archivo</strong>  <code>csv </code> con el resultado de la limpieza, utilizamos el comando <code>df.to_csv</code> que creara el nuevo archivo.</div>

In [ ]:
#asignamos el resultado al DataFrame nota_final
nota_final = notas2.fillna(5)

In [ ]:
#imprimimos para confirmar
nota_final.head()

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0   19.0     18        18
1    Jose    5.0   15.0     11        13
2    Juan   13.0   12.0     17        14
3    Luis   10.0   19.0     18        16
4  Carlos   16.0   12.0     10        13

In [ ]:
#grabamos en otro archivo
notas2.to_csv('/content/drive/MyDrive/data/notafinal.csv')

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****2. Frecuencia Simple de Datos****<tfont>

<div class="alert alert-info"> Vamos hallar la <strong>frecuencia</strong> de notas de un archivo  <code>csv</code> damos como resultado la nota mas alta</div>

In [ ]:
#cargamos un archivo CSV separado por punto y coma
notas3 = pd.read_csv('/content/drive/MyDrive/data/notas.csv', delimiter=';')

In [ ]:
#nombres de columnas
notas3.columns.values

array(['Alumno', 'Nota1', 'Nota2', 'Nota3', 'Promedio'], dtype=object)

In [ ]:
#buscamos cuantos alumnos han sacado nota 20 en Promedio
#creamos nuevo DataFrame con notas promedio y frecuencias
tab = pd.crosstab(index=notas3['Nota3'], columns='Frecuencia')

tab.head(15)

col_0  Frecuencia
Nota3
10              8
11              5
12              4
13              2
14              6
15              2
16              6
17              3
18              5
19              4
20              5

In [ ]:
#localizar alumnos que han sacado 20 en su Nota3
fila = tab.loc[tab.index==20]

#variable
x = fila['Frecuencia']
x = int(x)

#Impresion
print('\t \t \t FELICITACIOÓN')
print("===========================================================")
print('\n')
print("%d alumnos han sacado en su Nota3 20, mis felicitaciones!!"%x)
print('\n\n\n')

	 	 	 FELICITACIOÓN
===========================================================


5 alumnos han sacado en su Nota3 20, mis felicitaciones!!

<ipython-input-23-0894c27983b6>:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  x = int(x)

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****3. Archivo csv "NBA" y Funciones de busqueda****<tfont>

<div class="alert alert-info"> Las <strong>funciones de busqueda</strong> son básicas en <strong>pandas</strong> lo vamos aplicar a un archivo bajado de la pagina web Kaggle el mayor banco de dataset</div>

In [ ]:
#cargamos un archivo CSV separado por comas con indice en columna "Name"
data = pd.read_csv('/content/drive/MyDrive/data/nba.csv', index_col='Name')

#Impresión
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
#variables que busca en la columna "Name" y funcion `loc`
fist = data.loc["Avery Bradley"]
second = data.loc["Jae Crowder"]

#impresión
print(fist, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>4. Análisis de Datos y Visualización<tfont>

<div class="alert alert-info">
Colección de datos completo de COVID-19 mantenido por  <strong>Our World in Data</strong>
(Investigación y datos para avanzar contra los mayores problemas del mundo).
    
Se actualiza diariamente e incluye datos sobre casos confirmados, muertes, hospitalizaciones, pruebas y vacunaciones, así como otras variables de posible interés.
    
    
    https://github.com/owid/covid-19-data/tree/master/public/data
    
</div>

### Vamos a leer los datos desde github de `Our World in Data`

In [ ]:
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'
df = pd.read_csv(url, index_col=0)
df.head()

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

### Revisamos los datos

In [ ]:
#Cantidad de Filas
len( df)

409499

In [ ]:
#Cantidad de Filas y Columnas
df.shape

(409499, 66)

In [ ]:
#Valores de las columnas
df.columns

Index(['continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [39]:
#Información de los datos
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 409499 entries, AFG to ZWE
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   389942 non-null  object
 1   location                                    409499 non-null  object
 2   date                                        409499 non-null  object
 3   total_cases                                 370544 non-null  float64
 4   new_cases                                   398301 non-null  float64
 5   new_cases_smoothed                          397071 non-null  float64
 6   total_deaths                                347781 non-null  float64
 7   new_deaths                                  398701 non-null  float64
 8   new_deaths_smoothed                         397471 non-null  float64
 9   total_cases_per_million                     370544 non-null  float64
 10  new_cases_per_million                       398301 non-null  float64
 11  new_cases_smoothed_per_million              397071 non-null  float64
 12  total_deaths_per_million                    347781 non-null  float64
 13  new_deaths_per_million                      398701 non-null  float64
 14  new_deaths_smoothed_per_million             397471 non-null  float64
 15  reproduction_rate                           184817 non-null  float64
 16  icu_patients                                38969 non-null   float64
 17  icu_patients_per_million                    38969 non-null   float64
 18  hosp_patients                               40509 non-null   float64
 19  hosp_patients_per_million                   40509 non-null   float64
 20  weekly_icu_admissions                       10895 non-null   float64
 21  weekly_icu_admissions_per_million           10895 non-null   float64
 22  weekly_hosp_admissions                      24399 non-null   float64
 23  weekly_hosp_admissions_per_million          24399 non-null   float64
 24  total_tests                                 79387 non-null   float64
 25  new_tests                                   75403 non-null   float64
 26  total_tests_per_thousand                    79387 non-null   float64
 27  new_tests_per_thousand                      75403 non-null   float64
 28  new_tests_smoothed                          103965 non-null  float64
 29  new_tests_smoothed_per_thousand             103965 non-null  float64
 30  positive_rate                               95927 non-null   float64
 31  tests_per_case                              94348 non-null   float64
 32  tests_units                                 106788 non-null  object
 33  total_vaccinations                          84737 non-null   float64
 34  people_vaccinated                           80486 non-null   float64
 35  people_fully_vaccinated                     77413 non-null   float64
 36  total_boosters                              52928 non-null   float64
 37  new_vaccinations                            70346 non-null   float64
 38  new_vaccinations_smoothed                   194116 non-null  float64
 39  total_vaccinations_per_hundred              84737 non-null   float64
 40  people_vaccinated_per_hundred               80486 non-null   float64
 41  people_fully_vaccinated_per_hundred         77413 non-null   float64
 42  total_boosters_per_hundred                  52928 non-null   float64
 43  new_vaccinations_smoothed_per_million       194116 non-null  float64
 44  new_people_vaccinated_smoothed              191368 non-null  float64
 45  new_people_vaccinated_smoothed_per_hundred  191368 non-null  float64
 46  stringency_index                            197292 non-null  float64
 47  population_density                          348551 non-null  float64
 48  median_age                                  323900 non-null  float64
 49  aged_65_older                               312801 non-null  float64
 50  aged_70_older                               320650 non-null  float64
 51  gdp_per_capita                              317676 non-null  float64
 52  extreme_poverty                             204811 non-null  float64
 53  cardiovasc_death_rate                       318292 non-null  float64
 54  diabetes_prevalence                         334756 non-null  float64
 55  female_smokers                              238944 non-null  float64
 56  male_smokers                                235694 non-null  float64
 57  handwashing_facilities                      156027 non-null  float64
 58  hospital_beds_per_thousand                  281194 non-null  float64
 59  life_expectancy                             377525 non-null  float64
 60  human_development_index                     308756 non-null  float64
 61  population                                  409499 non-null  float64
 62  excess_mortality_cumulative_absolute        13290 non-null   float64
 63  excess_mortality_cumulative                 13290 non-null   float64
 64  excess_mortality                            13290 non-null   float64
 65  excess_mortality_cumulative_per_million     13290 non-null   float64
 66  gdp_per_capita_not_nulls                    409499 non-null  float64
dtypes: float64(63), object(4)
memory usage: 228.6+ MB

In [ ]:
#estadistica descriptiva de los datos
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3.705440e+05,3.983010e+05,3.970710e+05,3.477810e+05,398701.000000,397471.000000,370544.000000,398301.000000,397071.000000,347781.000000,...,235694.000000,156027.000000,281194.000000,377525.000000,308756.000000,4.094990e+05,1.329000e+04,13290.000000,13290.000000,13290.000000
mean,7.751026e+06,8.253286e+03,8.278597e+03,9.206821e+04,73.938776,74.165036,117917.489081,125.667546,126.049915,942.659979,...,32.910858,50.790363,3.097141,73.705930,0.722470,1.289190e+08,5.592295e+04,9.789843,10.996888,1781.925909
std,4.560290e+07,2.329935e+05,8.786573e+04,4.654306e+05,1384.608859,519.622750,164308.160701,1502.783275,556.772702,1147.196661,...,13.573850,31.955426,2.548373,7.394443,0.148978,6.621472e+08,1.554634e+05,12.043989,24.549943,1990.069833
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2936.453100
25%,1.008400e+04,0.000000e+00,0.000000e+00,1.380000e+02,0.000000,0.000000,3152.865000,0.000000,0.000000,68.996000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.794250e+02,2.150000,-1.447500,125.162125
50%,8.363700e+04,0.000000e+00,1.357100e+01,1.425000e+03,0.000000,0.000000,35963.132500,0.000000,3.225000,440.039000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,6.848000e+03,8.150000,5.710000,1270.143100
75%,9.519380e+05,0.000000e+00,3.421430e+02,1.316600e+04,0.000000,3.429000,163380.991000,0.000000,60.275000,1515.963000,...,41.300000,82.502000,4.200000,79.460000,0.829000,2.830170e+07,3.909440e+04,15.040000,15.667500,2888.020925
max,7.756435e+08,4.423623e+07,6.319461e+06,7.051600e+06,103719.000000,14817.000000,771480.580000,240325.866000,34332.267000,6485.570000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.345330e+06,78.080000,382.860000,10293.515000

### Interpretamos los datos encontrados

#### Datos Negativos en Muertes por día

In [ ]:
#Muertes por día negativos???   es extraño???
df[df.new_deaths < 0]

Empty DataFrame
Columns: [continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, population, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 66 columns]

---

#### Datos Nulos NaN en nuevos casos por día

In [ ]:
#Muertes por día NaN??
df[df.new_cases.isnull()]

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
OWID_ASI,NaN,Asia,2024-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OWID_WRL,NaN,World,2024-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2023-07-30,265693.0,NaN,NaN,5712.0,1.0,0.143,16279.671,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

In [ ]:
df.new_cases.sort_values(ascending=True)

iso_code
AFG         0.0
OWID_NAM    0.0
OWID_NAM    0.0
OWID_NAM    0.0
OWID_NAM    0.0
           ...
OWID_WRL    NaN
OWID_WRL    NaN
OWID_WRL    NaN
OWID_WRL    NaN
ZWE         NaN
Name: new_cases, Length: 409499, dtype: float64

In [ ]:
#asognación temporal de valores nulos
df.new_cases.fillna(0)

iso_code
AFG    0.0
AFG    0.0
AFG    0.0
AFG    0.0
AFG    0.0
      ...
ZWE    0.0
ZWE    0.0
ZWE    0.0
ZWE    0.0
ZWE    0.0
Name: new_cases, Length: 409499, dtype: float64

In [ ]:
#buscamos valores nulos NaN  en new_cases
df[df.new_cases.isnull()]

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.700,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
OWID_ASI,NaN,Asia,2024-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OWID_WRL,NaN,World,2024-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2024-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2023-07-30,265693.0,NaN,NaN,5712.0,1.0,0.143,16279.671,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

In [ ]:
#asignación definitiva de valores nulos
df.new_cases.fillna(value=0, inplace=True)

In [ ]:
#buscamos valores nulos NaN en new_cases
df[df.new_cases.isnull()]

Empty DataFrame
Columns: [continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, population, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 66 columns]

---

#### Datos Nulos NaN en ingresos de PBI `gdp_per_capita`

In [ ]:
# Ensure 'location' is included in the DataFrame
numeric_df = df.select_dtypes(include=['float', 'int'])
numeric_df['location'] = df['location']

# Group by 'location' and calculate the mean
mean_df = numeric_df.groupby('location').mean()

# Extract the 'gdp_per_capita' column
gdp_per_capita = mean_df['gdp_per_capita']
print(gdp_per_capita)

location
Afghanistan        1803.987
Africa                  NaN
Albania           11803.431
Algeria           13913.839
American Samoa          NaN
                    ...
Western Sahara          NaN
World             15469.207
Yemen              1479.147
Zambia             3689.251
Zimbabwe           1899.775
Name: gdp_per_capita, Length: 255, dtype: float64

In [ ]:
# Hallamos el promedio de `gdp_per_capita`
promedio_gdp =mean_df['gdp_per_capita'].mean()
promedio_gdp

19173.61225510204

In [ ]:
# Calcular el promedio de 'gdp_per_capita', ignorando los valores nulos
promedio_gdp = df['gdp_per_capita'].mean()

# Crear una nueva columna rellenando los valores nulos con el promedio
df['gdp_per_capita_not_nulls'] = df['gdp_per_capita'].fillna(promedio_gdp)

# Mostrar las primeras filas del DataFrame para verificar
print(df.head())

         continent     location        date  total_cases  new_cases  \
iso_code
AFG           Asia  Afghanistan  2020-01-05          NaN        0.0
AFG           Asia  Afghanistan  2020-01-06          NaN        0.0
AFG           Asia  Afghanistan  2020-01-07          NaN        0.0
AFG           Asia  Afghanistan  2020-01-08          NaN        0.0
AFG           Asia  Afghanistan  2020-01-09          NaN        0.0

          new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
iso_code
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN
AFG                      NaN           NaN         0.0                  NaN

          total_cases_per_million  ...  handwashing_facilities  \
iso_code                           ...
AFG                           NaN  ...                  37.746
AFG                           NaN  ...                  37.746
AFG                           NaN  ...                  37.746
AFG                           NaN  ...                  37.746
AFG                           NaN  ...                  37.746

          hospital_beds_per_thousand  life_expectancy  \
iso_code
AFG                              0.5            64.83
AFG                              0.5            64.83
AFG                              0.5            64.83
AFG                              0.5            64.83
AFG                              0.5            64.83

          human_development_index  population  \
iso_code
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0
AFG                         0.511  41128772.0

          excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
iso_code
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN
AFG                                        NaN                          NaN

          excess_mortality  excess_mortality_cumulative_per_million  \
iso_code
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN
AFG                    NaN                                      NaN

          gdp_per_capita_not_nulls
iso_code
AFG                       1803.987
AFG                       1803.987
AFG                       1803.987
AFG                       1803.987
AFG                       1803.987

[5 rows x 67 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 409499 entries, AFG to ZWE
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   389942 non-null  object
 1   location                                    409499 non-null  object
 2   date                                        409499 non-null  object
 3   total_cases                                 370544 non-null  float64
 4   new_cases                                   398301 non-null  float64
 5   new_cases_smoothed                          397071 non-null  float64
 6   total_deaths                                347781 non-null  float64
 7   new_deaths                                  398701 non-null  float64
 8   new_deaths_smoothed                         397471 non-null  float64
 9   total_cases_per_million                     370544 non-null  float64
 10  new_cases_per_million                       398301 non-null  float64
 11  new_cases_smoothed_per_million              397071 non-null  float64
 12  total_deaths_per_million                    347781 non-null  float64
 13  new_deaths_per_million                      398701 non-null  float64
 14  new_deaths_smoothed_per_million             397471 non-null  float64
 15  reproduction_rate                           184817 non-null  float64
 16  icu_patients                                38969 non-null   float64
 17  icu_patients_per_million                    38969 non-null   float64
 18  hosp_patients                               40509 non-null   float64
 19  hosp_patients_per_million                   40509 non-null   float64
 20  weekly_icu_admissions                       10895 non-null   float64
 21  weekly_icu_admissions_per_million           10895 non-null   float64
 22  weekly_hosp_admissions                      24399 non-null   float64
 23  weekly_hosp_admissions_per_million          24399 non-null   float64
 24  total_tests                                 79387 non-null   float64
 25  new_tests                                   75403 non-null   float64
 26  total_tests_per_thousand                    79387 non-null   float64
 27  new_tests_per_thousand                      75403 non-null   float64
 28  new_tests_smoothed                          103965 non-null  float64
 29  new_tests_smoothed_per_thousand             103965 non-null  float64
 30  positive_rate                               95927 non-null   float64
 31  tests_per_case                              94348 non-null   float64
 32  tests_units                                 106788 non-null  object
 33  total_vaccinations                          84737 non-null   float64
 34  people_vaccinated                           80486 non-null   float64
 35  people_fully_vaccinated                     77413 non-null   float64
 36  total_boosters                              52928 non-null   float64
 37  new_vaccinations                            70346 non-null   float64
 38  new_vaccinations_smoothed                   194116 non-null  float64
 39  total_vaccinations_per_hundred              84737 non-null   float64
 40  people_vaccinated_per_hundred               80486 non-null   float64
 41  people_fully_vaccinated_per_hundred         77413 non-null   float64
 42  total_boosters_per_hundred                  52928 non-null   float64
 43  new_vaccinations_smoothed_per_million       194116 non-null  float64
 44  new_people_vaccinated_smoothed              191368 non-null  float64
 45  new_people_vaccinated_smoothed_per_hundred  191368 non-null  float64
 46  stringency_index                            197292 non-null  float64
 47  population_density                          348551 non-null  float64
 48  median_age                                  323900 non-null  float64
 49  aged_65_older                               312801 non-null  float64
 50  aged_70_older                               320650 non-null  float64
 51  gdp_per_capita                              317676 non-null  float64
 52  extreme_poverty                             204811 non-null  float64
 53  cardiovasc_death_rate                       318292 non-null  float64
 54  diabetes_prevalence                         334756 non-null  float64
 55  female_smokers                              238944 non-null  float64
 56  male_smokers                                235694 non-null  float64
 57  handwashing_facilities                      156027 non-null  float64
 58  hospital_beds_per_thousand                  281194 non-null  float64
 59  life_expectancy                             377525 non-null  float64
 60  human_development_index                     308756 non-null  float64
 61  population                                  409499 non-null  float64
 62  excess_mortality_cumulative_absolute        13290 non-null   float64
 63  excess_mortality_cumulative                 13290 non-null   float64
 64  excess_mortality                            13290 non-null   float64
 65  excess_mortality_cumulative_per_million     13290 non-null   float64
 66  gdp_per_capita_not_nulls                    409499 non-null  float64
dtypes: float64(63), object(4)
memory usage: 228.6+ MB

In [ ]:
df.dropna().shape

(0, 66)

### Preguntas?

### Cuál es el país con el mayor life_expectancy?

In [ ]:
# Seleccionar solo las columnas numéricas y agregar 'location'
numeric_df = df.select_dtypes(include=['float', 'int'])
numeric_df['location'] = df['location']

# Agrupar por 'location' y calcular la media para cada grupo
mean_df = numeric_df.groupby('location').mean()

# Asegurarse de que 'life_expectancy' está en el DataFrame medio y es de tipo numérico
if 'life_expectancy' in mean_df.columns:
    # Ordenar 'life_expectancy' en orden descendente
    sorted_life_expectancy = mean_df['life_expectancy'].sort_values(ascending=False)
    # Imprimir los valores ordenados
    print(sorted_life_expectancy)
else:
    print("La columna 'life_expectancy' no se encuentra en el DataFrame numérico.")

location
Monaco                 86.75
San Marino             84.97
Hong Kong              84.86
Japan                  84.63
Macao                  84.24
                       ...
Saint Barthelemy         NaN
Scotland                 NaN
South America            NaN
Upper middle income      NaN
Wales                    NaN
Name: life_expectancy, Length: 255, dtype: float64

### Qué país tiene la menor cantidad de fumadores masculinos?

In [ ]:
# Seleccionar solo las columnas numéricas
numeric_df = df.select_dtypes(include=['float', 'int'])

# Añadir la columna 'location' al DataFrame numérico
numeric_df['location'] = df['location']

# Agrupar por 'location' y calcular la media para cada grupo
mean_df = numeric_df.groupby('location').mean()

# Asegurarse de que 'male_smokers' está en el DataFrame medio y es de tipo numérico
if 'male_smokers' in mean_df.columns:
    # Ordenar 'male_smokers' en orden ascendente
    sorted_male_smokers = mean_df['male_smokers'].sort_values(ascending=True)
    # Imprimir los valores ordenados
    print(sorted_male_smokers)
else:
    print("La columna 'male_smokers' no se encuentra en el DataFrame numérico.")

location
Ghana                 7.7
Ethiopia              8.5
Panama                9.9
Nigeria              10.8
Eritrea              11.4
                     ...
Vatican               NaN
Venezuela             NaN
Wales                 NaN
Wallis and Futuna     NaN
Western Sahara        NaN
Name: male_smokers, Length: 255, dtype: float64

### Qué país tiene la mayor cantidad de fallecimientos diarios a la fecha?

In [ ]:
df.groupby('location').date.max()

location
Afghanistan       2024-06-16
Africa            2024-06-16
Albania           2024-06-16
Algeria           2024-06-16
American Samoa    2024-06-16
                     ...
Western Sahara    2022-04-20
World             2024-06-24
Yemen             2024-06-16
Zambia            2024-06-16
Zimbabwe          2024-06-16
Name: date, Length: 255, dtype: object

In [ ]:
df[df.date == '2021-05-29'].sort_values('new_deaths', ascending=False)

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2021-05-29,65728.0,0.0,320.571,2802.0,0.0,8.571,1598.103,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
NZL,Oceania,New Zealand,2021-05-29,2312.0,0.0,2.286,26.0,0.0,0.000,445.877,...,17.2,NaN,2.61,82.29,0.931,5185289.0,NaN,NaN,NaN,NaN
NER,Africa,Niger,2021-05-29,5369.0,0.0,5.571,192.0,0.0,0.000,204.861,...,15.4,8.978,0.30,62.42,0.394,26207982.0,NaN,NaN,NaN,NaN
NGA,Africa,Nigeria,2021-05-29,165979.0,0.0,39.571,2067.0,0.0,0.143,759.486,...,10.8,41.949,NaN,54.69,0.539,218541216.0,NaN,NaN,NaN,NaN
NIU,Oceania,Niue,2021-05-29,NaN,0.0,0.000,NaN,0.0,0.000,NaN,...,NaN,NaN,NaN,73.71,NaN,1952.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OWID_CYN,Asia,Northern Cyprus,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,382836.0,NaN,NaN,NaN,NaN
OWID_NIR,Europe,Northern Ireland,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1896000.0,NaN,NaN,NaN,NaN
OWID_SCT,Europe,Scotland,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5466000.0,NaN,NaN,NaN,NaN
TWN,Asia,Taiwan,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,80.46,NaN,23893396.0,NaN,NaN,NaN,NaN
OWID_WLS,Europe,Wales,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3170000.0,NaN,NaN,NaN,NaN

---